#registerPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

#registerPage .registerFrame{
  border-radius: 50px;
  padding: 50px;
  padding-top: 100px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 10px 1px #b2b2b2;
}

#registerPage .registerLogo{
  margin-bottom: 50px;
}

#registerPage .registerForm{
  display: flex;
  flex-direction: column;
}

#registerPage .register__input::placeholder{
  color: #cccccc;
}

#registerPage .register__input, #registerPage .userRegister__button {
  width: 300px;
  height: 50px;
  padding-left: 10px;
  margin: 10px;
  margin-top: 0;
  outline-style: none;
}

#registerPage .userRegister__button{
  padding: 0;
  margin-top: 100px;
  background: #12DB64;
  color: #ffffff;
  font-weight: bold;
  border-style: none;
}

#registerPage .title{
  text-decoration: dashed;
  font-size:large;
  margin-bottom: 20px;
}

#registerPage .wrapper{
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}
#registerPage .textWrapper{
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-top: 5px;
}

#registerPage .requiredText{
  color: #12DB64;
}

#registerPage .description{
  padding-left: 10px;
  color: #cccccc;
}