.findPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.findFrame{
  border-radius: 50px;
  padding: 50px;
  padding-top: 100px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 10px 1px #b2b2b2;
}

.findForm{
  display: flex;
  flex-direction: column;
}

.find__input::placeholder{
  color: #cccccc;
}

.find__input, .find__button {
  width: 350px;
  height: 50px;
  padding-left: 10px;
  margin: 10px;
  margin-top: 0;
  outline-style: none;
}

.find__button{
  padding: 0;
  margin-top: 100px;
  background: #12DB64;
  color: #ffffff;
  font-weight: bold;
  border-style: none;
}

.wrapper{
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}
.textWrapper{
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-top: 5px;
}

.requiredText{
  color: #12DB64;
}