.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .modal button {
    outline: none;
    cursor: pointer;
    border: 0;
  }
  .modal > section {
    position: absolute;
    right: 0px;
    width: 90%;
    max-width: 450px;
    float: right !important;
    border-radius: 0.3rem;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    height: 100%;
    overflow: hidden;
    padding-top: 5%;
    padding-left: 2%;
   
  }

  .modal > section hr{
    height: 3px;
    background-color: black;
    margin-bottom: 50px;
  }

  .modal > section .dm-user{
    font-weight: bold;
  }

  .modal > section .dmFrame{
    height: 80%;
    width: 95%;
    border-radius: 10px;
    border: 2px solid rgb(150, 150, 150);
    display: flex;
    flex-direction: column-reverse;
  }

  .modal > section .dmFrame input{ 
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 5%;
    border: 1px solid rgb(100, 100, 100);
    padding-left: 20px;
  }
  .modal > section .dmFrame .me{
    border: 1px solid rgb(223, 223, 223);
    padding: 5px;
    border-radius: 10px;
    text-align: right;
    margin-bottom: 5%;
    float: right !important;
    margin-left: auto;
    margin-right: 5%;
    box-shadow: rgba(0, 0, 0, 0.15) 3.95px 3.95px 1.6px;
}

.modal > section .dmFrame .you{
    border: 1px solid rgb(223, 223, 223);
    padding: 5px;
    border-radius: 10px;
    text-align: right;
    margin-bottom: 5%;
    float: right !important;
    margin-right: auto;
    margin-left: 5%;
    box-shadow: rgba(0, 0, 0, 0.15) 3.95px 3.95px 1.6px;
}

.modal > section .dmFrame .send-time{
    text-align: center;
    margin-bottom: 15px;
    font-size: 0.9em;
    color: rgb(150, 150, 150);
}

.modal > section .dmFrame .send-day{
    background-color: #12DB64;
    border: 1px solid #12DB64;
    padding: 0 20px;
    border-radius: 20px;
    margin: 0 auto;
    font-size: 0.8em;
    color: white;
    margin-bottom: 15px;
}
  .modal > section > header {
    position: relative;
    padding: 16px 64px 16px 16px;
    background-color: #f1f1f1;
    font-weight: 700;
  }
  .modal > section > header button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #999;
    background-color: transparent;
  }
  .modal > section > main {
    padding: 16px;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
  }
  .modal > section > footer {
    padding: 12px 16px;
    text-align: right;
  }
  .modal > section > footer button {
    padding: 6px 12px;
    color: #fff;
    background-color: #6c757d;
    border-radius: 5px;
    font-size: 13px;
  }
  .modal.openModal {
    display: flex;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show 0.3s;
  }
  @keyframes modal-show {
    from {
      opacity: 0;
      margin-top: -50px;
    }
    to {
      opacity: 1;
      margin-top: 0;
    }
  }
  @keyframes modal-bg-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }